<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
       
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServiceData" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8312/" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IServiceData" contract="ServiceData.IServiceData"
                name="BasicHttpBinding_IServiceData"/>
        </client>
    </system.serviceModel>
</configuration>